<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Edit <%= selectedOutfit.name %>!</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

  <%- include('../partials/_navbar.ejs') %>

    <div class="outfit-form-container">
      <h2>Edit <%= selectedOutfit.name %>
      </h2>

      <form action="/outfits/<%= selectedOutfit._id %>?_method=PUT" method="POST">

        <div>
          <label for="name">Name:</label>
          <input class="form-input" type="text" id="name" name="name" value="<%= selectedOutfit.name %>" required>
        </div>

        <h3>Select Clothing Items:</h3>
        <div class="closet-items-grid">
          <% allClosetItems.forEach(item=> { %>
            <div class="closet-item-option">
              <input type="checkbox" name="closetItems" value="<%= item._id %>" id="item_<%= item._id %>" hidden
                <%=selectedOutfit.closetItems.some(closetItem=> closetItem._id.toString() === item._id.toString()) ?
              "checked" : "" %>>

              <label for="item_<%= item._id %>" class="item-label">
                <% if (item.imageURL) { %>
                  <img src="<%= item.imageURL %>" alt="<%= item.description %>">
                  <% } else { %>
                    <span>No Image</span>
                    <% } %>
                      <div>
                        <%= item.name %>
                      </div>
              </label>
            </div>
            <% }) %>
        </div>

        <button type="submit">Edit <%= selectedOutfit.name %></button>
      </form>
    </div>

</body>

</html>