<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= selectedOutfit.name %>'s Details
    </title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>

        <div class="outfit-details-container">
            <h2>
                <%= selectedOutfit.name %>'s Details
            </h2>

            <h3>Outfit Details</h3>
            <div class="outfit-images-grid">
                <% listOfSelectedItems.forEach((item)=> { %>
                    <div class="outfit-item">
                        <% if(item.imageURL?.url){ %>
                            <img src="<%= item.imageURL?.url %>" alt="<%= item.description %>">
                            <% } else { %>
                                <div class="outfit-no-image">No Img</div>
                                <% } %>
                                    <p class="outfit-item-name">
                                        <%= item.name %>
                                    </p>
                    </div>
                    <% }) %>
            </div>
            <% if (selectedOutfit.owner._id.equals(user._id)) { %>
                <div class="actions">
                    <a href="/outfits/<%= selectedOutfit._id %>/edit">Edit <%= selectedOutfit.name %></a>
                    <form action="/outfits/<%= selectedOutfit._id %>?_method=DELETE" method="POST">
                        <button type="submit">Delete <%= selectedOutfit.name %></button>
                    </form>
                </div>
                <% } %>
        </div>
</body>

</html>